QStrategyGUILib/Service References/QStrategySVR/QStrategyWebServiceImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="YxStrategyWebServiceImplService" targetNamespace="http://web.yxstrategy.heisen/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.yxstrategy.heisen/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://web.yxstrategy.heisen/" version="1.0" xmlns:tns="http://web.yxstrategy.heisen/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="both" type="tns:both"/>
      <xs:element name="bothResponse" type="tns:bothResponse"/>
      <xs:element name="buy" type="tns:buy"/>
      <xs:element name="buyResponse" type="tns:buyResponse"/>
      <xs:element name="cancelAll" type="tns:cancelAll"/>
      <xs:element name="cancelAllResponse" type="tns:cancelAllResponse"/>
      <xs:element name="echo" type="tns:echo"/>
      <xs:element name="echoResponse" type="tns:echoResponse"/>
      <xs:element name="getUpdates" type="tns:getUpdates"/>
      <xs:element name="getUpdatesResponse" type="tns:getUpdatesResponse"/>
      <xs:element name="lock" type="tns:lock"/>
      <xs:element name="lockResponse" type="tns:lockResponse"/>
      <xs:element name="sell" type="tns:sell"/>
      <xs:element name="sellResponse" type="tns:sellResponse"/>
      <xs:element name="start" type="tns:start"/>
      <xs:element name="startResponse" type="tns:startResponse"/>
      <xs:element name="stop" type="tns:stop"/>
      <xs:element name="stopResponse" type="tns:stopResponse"/>
      <xs:element name="unlock" type="tns:unlock"/>
      <xs:element name="unlockResponse" type="tns:unlockResponse"/>
      <xs:complexType name="sell">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sellResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="strategyResultsUpdate">
        <xs:complexContent>
          <xs:extension base="tns:strategyEngineUpdate">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="updates" nillable="true" type="tns:symbolUpdate"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="strategyEngineUpdate">
        <xs:sequence>
          <xs:element minOccurs="0" name="apiState" type="tns:apiState"/>
          <xs:element name="isTrading" type="xs:boolean"/>
          <xs:element name="seedQtyThreshold" type="xs:int"/>
          <xs:element minOccurs="0" name="strategyName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="symbolUpdate">
        <xs:sequence>
          <xs:element name="fees" type="xs:double"/>
          <xs:element name="highmark" type="xs:double"/>
          <xs:element minOccurs="0" name="lastTrade" type="xs:dateTime"/>
          <xs:element name="maxLoss" type="xs:double"/>
          <xs:element name="openOrderCount" type="xs:int"/>
          <xs:element name="pnl" type="xs:double"/>
          <xs:element name="position" type="xs:int"/>
          <xs:element name="positionValue" type="xs:double"/>
          <xs:element name="rebates" type="xs:double"/>
          <xs:element minOccurs="0" name="state" type="tns:strategyState"/>
          <xs:element minOccurs="0" name="symbol" type="xs:string"/>
          <xs:element name="tradingPnl" type="xs:double"/>
          <xs:element name="unrealizedPnl" type="xs:double"/>
          <xs:element name="unroutedQty" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="userMessages" nillable="true" type="xs:string"/>
          <xs:element name="volume" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stop">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stopResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelAll">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelAllResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="echo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUpdates">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="getUpdatesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="unlock">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="unlockResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="start">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="startResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="buy">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="buyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="both">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bothResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lock">
        <xs:sequence>
          <xs:element minOccurs="0" name="symbolSpec" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lockResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:strategyResultsUpdate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="strategyState">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Stopped"/>
          <xs:enumeration value="Trading"/>
          <xs:enumeration value="MaxLoss"/>
          <xs:enumeration value="Hung"/>
          <xs:enumeration value="Locked"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="apiState">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Initial"/>
          <xs:enumeration value="PendingLogon"/>
          <xs:enumeration value="LoggedOn"/>
          <xs:enumeration value="Ready"/>
          <xs:enumeration value="LogonFailure"/>
          <xs:enumeration value="Disconnected"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUpdates">
    <wsdl:part element="tns:getUpdates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelAll">
    <wsdl:part element="tns:cancelAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buyResponse">
    <wsdl:part element="tns:buyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="start">
    <wsdl:part element="tns:start" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sell">
    <wsdl:part element="tns:sell" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUpdatesResponse">
    <wsdl:part element="tns:getUpdatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unlockResponse">
    <wsdl:part element="tns:unlockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lock">
    <wsdl:part element="tns:lock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startResponse">
    <wsdl:part element="tns:startResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sellResponse">
    <wsdl:part element="tns:sellResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part element="tns:echo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stop">
    <wsdl:part element="tns:stop" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stopResponse">
    <wsdl:part element="tns:stopResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bothResponse">
    <wsdl:part element="tns:bothResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unlock">
    <wsdl:part element="tns:unlock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buy">
    <wsdl:part element="tns:buy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="both">
    <wsdl:part element="tns:both" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelAllResponse">
    <wsdl:part element="tns:cancelAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lockResponse">
    <wsdl:part element="tns:lockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StrategyWebService">
    <wsdl:operation name="sell">
      <wsdl:input message="tns:sell" name="sell">
      </wsdl:input>
      <wsdl:output message="tns:sellResponse" name="sellResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stop">
      <wsdl:input message="tns:stop" name="stop">
      </wsdl:input>
      <wsdl:output message="tns:stopResponse" name="stopResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelAll">
      <wsdl:input message="tns:cancelAll" name="cancelAll">
      </wsdl:input>
      <wsdl:output message="tns:cancelAllResponse" name="cancelAllResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echo" name="echo">
      </wsdl:input>
      <wsdl:output message="tns:echoResponse" name="echoResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpdates">
      <wsdl:input message="tns:getUpdates" name="getUpdates">
      </wsdl:input>
      <wsdl:output message="tns:getUpdatesResponse" name="getUpdatesResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlock">
      <wsdl:input message="tns:unlock" name="unlock">
      </wsdl:input>
      <wsdl:output message="tns:unlockResponse" name="unlockResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="start">
      <wsdl:input message="tns:start" name="start">
      </wsdl:input>
      <wsdl:output message="tns:startResponse" name="startResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buy">
      <wsdl:input message="tns:buy" name="buy">
      </wsdl:input>
      <wsdl:output message="tns:buyResponse" name="buyResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="both">
      <wsdl:input message="tns:both" name="both">
      </wsdl:input>
      <wsdl:output message="tns:bothResponse" name="bothResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lock">
      <wsdl:input message="tns:lock" name="lock">
      </wsdl:input>
      <wsdl:output message="tns:lockResponse" name="lockResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YxStrategyWebServiceImplServiceSoapBinding" type="tns:StrategyWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sell">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sell">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sellResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stop">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="stop">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="stopResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpdates">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUpdates">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUpdatesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="start">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="start">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="unlock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="unlockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="both">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="both">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bothResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="lock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YxStrategyWebServiceImplService">
    <wsdl:port binding="tns:YxStrategyWebServiceImplServiceSoapBinding" name="YxStrategyWebServiceImplPort">
      <soap:address location="http://localhost:9050/qs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>