QStrategyGUILib/Service References/MockupService/MockupMainService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20974/MockupMainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MockupServer.Model" />
  <xs:import schemaLocation="http://localhost:20974/MockupMainService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStrategyUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrategyUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="GetStrategyUpdateResult" nillable="true" type="q1:StrategyResultsUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrategyId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="symbol" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="processType" type="q3:ProcessType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="_cancelOrderType" type="q4:CancelOrderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="ProcessSymbolResult" nillable="true" type="q5:StrategyResultsUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessAllSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrategyId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="processType" type="q6:ProcessType" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="_cancelOrderType" type="q7:CancelOrderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessAllSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MockupServer.Model" minOccurs="0" name="ProcessAllSymbolResult" nillable="true" type="q8:StrategyResultsUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>