QStrategyGUILib/Service References/MockupService/MockupMainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MockupMainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20974/MockupMainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20974/MockupMainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20974/MockupMainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MockupServer.Model" />
      <xsd:import schemaLocation="http://localhost:20974/MockupMainService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMockupMainService_GetStrategyUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategyUpdate" />
  </wsdl:message>
  <wsdl:message name="IMockupMainService_GetStrategyUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategyUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMockupMainService_ProcessSymbol_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSymbol" />
  </wsdl:message>
  <wsdl:message name="IMockupMainService_ProcessSymbol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSymbolResponse" />
  </wsdl:message>
  <wsdl:message name="IMockupMainService_ProcessAllSymbol_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessAllSymbol" />
  </wsdl:message>
  <wsdl:message name="IMockupMainService_ProcessAllSymbol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessAllSymbolResponse" />
  </wsdl:message>
  <wsdl:portType name="IMockupMainService">
    <wsdl:operation name="GetStrategyUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockupMainService/GetStrategyUpdate" message="tns:IMockupMainService_GetStrategyUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockupMainService/GetStrategyUpdateResponse" message="tns:IMockupMainService_GetStrategyUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSymbol">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockupMainService/ProcessSymbol" message="tns:IMockupMainService_ProcessSymbol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockupMainService/ProcessSymbolResponse" message="tns:IMockupMainService_ProcessSymbol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessAllSymbol">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockupMainService/ProcessAllSymbol" message="tns:IMockupMainService_ProcessAllSymbol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockupMainService/ProcessAllSymbolResponse" message="tns:IMockupMainService_ProcessAllSymbol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMockupMainService" type="tns:IMockupMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStrategyUpdate">
      <soap:operation soapAction="http://tempuri.org/IMockupMainService/GetStrategyUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSymbol">
      <soap:operation soapAction="http://tempuri.org/IMockupMainService/ProcessSymbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessAllSymbol">
      <soap:operation soapAction="http://tempuri.org/IMockupMainService/ProcessAllSymbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MockupMainService">
    <wsdl:port name="BasicHttpBinding_IMockupMainService" binding="tns:BasicHttpBinding_IMockupMainService">
      <soap:address location="http://localhost:20974/MockupMainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>